.lh50 {
  line-height: 50%;
}

.px4 {
  padding-left: 4em;
  padding-right: 4em;
}


.p2 {
  padding: 1em;
}


.huge {
  font-size: 3em;
}


.center {
  text-align: center;
}

.md-col-6 {
    width: 50%;
  }

.col {
  float: left;
  box-sizing: border-box;
}


.right {
  float: right;
}

.col {
  float: left;
  box-sizing: border-box;
}

.italic {
  font-style: italic;
}

.col-right {
  float: right;
  box-sizing: border-box;
}

.cb {
  clear: both;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #6f7c82;
}
